/* Global Styles */
h1, h4 {
    text-shadow: 1px 1px #ddd;
}

h1 {
    color: #4CAF50;
    transition: transform 0.5s ease-in-out;
}

h4 {
    color: #FF9800;
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

form {
    margin-top: 20px;
}

label, select, input {
    margin-bottom: 10px;
}

.fretwizard-image {
    width: 80%;
    margin: 20px auto;
    display: block;
}

/* Table Styling */
table.fretwizard {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

table.fretwizard th {
    background-color: #4CAF50;
    color: white;
}

.table {
    display: none;
}

table.fretwizard, table.fretwizard th, table.fretwizard td {
    border: 1px solid #ddd;
    text-align: center;
}

/* Column Styling */
table.fretwizard th, table.fretwizard td {
    width: 6%;
}

/* First Column Styling */
table.fretwizard th:first-child, table.fretwizard td:first-child {
    width: 5%;
}

tr:nth-child(even) {
    background-color: #f2f2f2a3 !important;
}

tr:nth-child(odd) {
    background-color: lightgray !important;
}

/* Letter Styling */
td {
    font-weight: bold;
    font-size: 1.2em;
    color: red;
    position: relative;
    z-index: 2;
    background-clip: padding-box;
}

/* Fretboard Styling */
.fretwizard {
    background-image: url('../images/fretboard_wood.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.fretwizard-header {
    background-color: #4CAF50;
    color: white;
  }
  

.fretwizard th, .fretwizard td {
    border-left: 1px solid #C0A080;
    height: 20px;
    position: relative;
    z-index: 1;
}

.fretwizard table tr:first-child th {
    background-color: #4CAF50;
    color: white;
  }  

.fretwizard th:first-child, .fretwizard td:first-child {
    width: 80px;
    border-left: none;
}

.string-container {
    color: white;
    background-image: url('../images/fretboard_wood.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.note-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    color: white
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    z-index: 3;
}

.note-input {
    width: 50px;
    text-align-last: center;
}

.keySelect {
    width: 100px;
    text-align-last: center;
}

.root-note {
    border: 3px solid #4CAF50;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

.drag-handle {
    cursor: move;
    background-color: #f0f0f0;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    width: 6px;
}

/* Apply alternating colors to drag handle cells */
tr:nth-child(even) .drag-handle {
    background-color: #f2f2f2a3;
}

tr:nth-child(odd) .drag-handle {
    background-color: lightgray;
}

tr.dragging {
    opacity: 0.5;
    background-color: #e0e0e0;
    border: 1px dashed #000;
}

.drag-handle:hover {
    background-color: #d0d0d0;
}

.delete-btn {
    font-size: 16px;
    padding: 5px 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.delete-btn i {
    color: rgba(232, 19, 19, 0.75);
}
